<mat-card *ngIf="order">
  <mat-card-header>
    <mat-card-title>{{ localName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div class="ordered-item" *ngFor="let item of order.items">
        <div class="item-name">{{ item.itemName }}</div>
        <div class="item-person">{{ item.personName }}</div>
        <div class="item-remove" *ngIf="item.personName === personName">
          <button
            type="button"
            (click)="onRemoveItem(item)"
            *ngIf="!isRemovingItem"
            mat-icon-button
          >
            <mat-icon>clear</mat-icon>
          </button>
          <mat-spinner [diameter]="24" *ngIf="isRemovingItem"></mat-spinner>
        </div>
      </div>
    </div>

    <div class="action-container" *ngIf="!formVisible">
      <div class="add-action">
        <button
          mat-button
          color="primary"
          *ngIf="!isOrderingItem && !currentPersonAlreadyOrdered"
          (click)="onStartOrdering()"
        >
          <mat-icon>add</mat-icon>Dodaj
        </button>
      </div>

      <div class="select-responsible-person-action">
        <button
          mat-button
          color="accent"
          (click)="selectResponsiblePerson()"
          *ngIf="!order.responsiblePerson && !isSelectingResponsiblePerson"
        >
          <mat-icon>face</mat-icon>Losuj
        </button>
        <mat-spinner
          class="small-spinner"
          [diameter]="30"
          color="accent"
          *ngIf="isSelectingResponsiblePerson"
        ></mat-spinner>
        <div class="responsible-person" *ngIf="order.responsiblePerson">
          Wylosowano: {{ order.responsiblePerson }}
        </div>
      </div>
    </div>

    <div *ngIf="formVisible">
      <form (submit)="onOrder()">
        <mat-form-field>
          <mat-label>Co zamawiasz?</mat-label>
          <input
            matInput
            type="text"
            name="itemName"
            [formControl]="itemName"
          />
          <mat-error *ngIf="itemName.hasError('required')">
            Napisz co chcesz zamówić
          </mat-error>
        </mat-form-field>
        <div class="buttons-row">
          <button
            mat-button
            type="submit"
            [disabled]="isOrderingItem || !itemName.valid"
          >
            Zamów
          </button>
          <button
            type="button"
            mat-button
            (click)="onCancel()"
            [disabled]="isOrderingItem"
          >
            Anuluj
          </button>
          <mat-spinner
            class="small-spinner"
            [diameter]="30"
            *ngIf="isOrderingItem"
          ></mat-spinner>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
